{% extends "interface/geral/base.html" %}

{% block titulo %}
  Login
{% endblock %}

{% block corpo %}

  <div class="login">
    <div class="container d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-4">
            <div class="jumbotron vertical-centralizado">
              <form class="form-login" method="post">
                {% csrf_token %}

                <label>Usuário:</label>
                <div class="form-group input-group">
                  <span class="input-group-addon icone"><i class="fa fa-user-circle margin-center"></i></span>
                  <input class="form-control" type="text" name='username' placeholder="Usuário"/>
                </div>

                <label>Senha:</label>
                <div class="form-group input-group">
                  <span class="input-group-addon icone"><i class="fa fa-unlock-alt margin-center"></i></span>
                  <input class="form-control" type="password" name='password' placeholder="Senha"/>
                </div>

                {% if erro %}

                  <div class="alert alert-danger">
                    {{ msg_erro }}
                  </div>

                {% endif %}

                <button class="btn btn-success" type="submit" name="btn_entrar">Entrar</button>
                <a href="/nova_conta/" style="float: right; cursor: pointer;" class="btn btn-default">Cadastrar</a>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}