{% extends "interface/geral/principal.html" %}

{% block titulo %}
  Entrada de Produto
{% endblock %}

{% block corpo %}

  <h1 class="titulo1">Entrada de Produto</h1>

  <div class="d-flex justify-content-center">
    <div class="col-md-5">
      <div class="jumbotron">

        <form method="post">
          {% csrf_token %}

          {% for f in form %}

            <div class="form-group">
              <label>{{ f.label }}</label>
              <div class="controls">
                {{ f }}
              </div>
            </div>

            {% if f.errors %}

              <div class="alert alert-warning">
                {{ f.errors }}
              </div>

            {% endif %}

          {% endfor %}

          <button type="submit" class="btn btn-primary">Gravar</button>
          <a href="/home/" class="btn btn-default">Cancelar</a>

        </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}

  <script type="text/javascript" charset="utf-8">

    $("#id_categoria").change(function () {

      $.ajax({
        url: '/ajax/get_produto',
        type: "GET",
        data: {'option': $('#id_categoria').val()},
        dataType: "json",
        success: function (json) {

          var obj = document.getElementById("id_produto");
          for (var i = 0; i < json.length; i++) {
            var z = JSON.parse(json[i]);
            opt = document.createElement("option");
            opt.value = z["id"];
            opt.text = z["nome"];
            obj.appendChild(opt);
          }

        },
        beforeSend: function () {
          $('#id_produto').empty();
        },
        error: function (xhr, errmsg, err) {
          alert(xhr.status + ": " + xhr.responseText);
        }
      });
    });

    $('select').select2({ width: '100%' });

  </script>

{% endblock %}