{% extends "interface/geral/base.html" %}

{% block titulo %}
  Controle de Estoque
{% endblock %}

{% block corpo %}

  {% include "interface/geral/navigatorTop.html" %}

  <h1 class="titulo1">Controle de Estoque</h1>

  {#  /////////////////////////////////////// debug queryset /////////////////////////////////////////#}

  {#  <div class="container">#}
  {#    <div class="jumbotron">#}
  {##}
  {#      {{ queryset }}#}
  {##}
  {#      <hr>#}
  {##}
  {#      {% for p in queryset %}#}
  {##}
  {#        {{ p }}#}
  {##}
  {#        <br>#}
  {##}
  {#      {% endfor %}#}
  {##}
  {#    </div>#}
  {#  </div>#}

  {#  ////////////////////////////////////////////////////////////////////////////////#}

  {#  <table width="100%">#}
  {#    <tr>#}
  {#      <td align="center"><img src="../interface/static/interface/img/estoque_geral.jpg"></td>#}
  {#    </tr>#}
  {#  </table>#}

{% endblock %}