{% extends "interface/geral/principal.html" %}

{% block titulo %}
  Controle de Estoque
{% endblock %}

{% block corpo %}

  <h1 class="titulo1">Controle de Estoque</h1>

  {#  /////////////////////////////////////// debug queryset /////////////////////////////////////////#}

  {#  <div class="container">#}
  {#    <div class="jumbotron">#}
  {##}
  {#      {{ queryset }}#}
  {##}
  {#      <hr>#}
  {##}
  {#      {% for p in queryset %}#}
  {##}
  {#        {{ p }}#}
  {##}
  {#        <br>#}
  {##}
  {#      {% endfor %}#}
  {##}
  {#    </div>#}
  {#  </div>#}

  {#  ///////////////////////////////// fim debug qeryset///////////////////////////////////////////////#}

  {#  <table width="100%">#}
  {#    <tr>#}
  {#      <td align="center"><img src="../interface/static/interface/img/estoque_geral.jpg"></td>#}
  {#    </tr>#}
  {#  </table>#}


  {#  ///////////////////////////////////// modal ////////////////////////////////////////////#}

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_novo_produto_dialog">
    Novo Produto
  </button>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_nova_categoria_dialog">
    Nova Categoria
  </button>

  {% include "principal/dialogs/novo_produto_dialog.html" with modal_form_id="novo-produto" modal_form_method="POST" form=form_novo_produto_dialog %}
  {% include "principal/dialogs/nova_categoria_dialog.html" with modal_form_id="nova-categoria" modal_form_method="POST" form=form_nova_categoria_dialog %}

  {#  /////////////////////////////////// fim modal //////////////////////////////////////////#}
{% endblock %}

{% block javascript %}

  <script type="text/javascript" charset="utf-8">

  document.formNovoProdutoHasErrors = {% if form_novo_produto_dialog.errors %}true{% else %}false{% endif %};
  document.formNovaCategoriaHasErrors = {% if form_nova_categoria_dialog.errors %}true{% else %}false{% endif %};

    $(document).ready(function () {
      if (document.formNovoProdutoHasErrors) {
        $('#id_novo_produto_dialog').modal('toggle');
      } else if (document.formNovaCategoriaHasErrors) {
        $('#id_nova_categoria_dialog').modal('toggle');
      }
    });


  </script>

{% endblock %}