{% extends "interface/geral/principal.html" %}

{% block titulo %}
  Controle de Estoque
{% endblock %}

{% block corpo %}

  <h1 class="titulo1">Controle de Estoque</h1>

  {#  /////////////////////////////////////// debug queryset /////////////////////////////////////////#}

  {#  <div class="container">#}
  {#    <div class="jumbotron">#}
  {##}
  {#      {{ queryset }}#}
  {##}
  {#      <hr>#}
  {##}
  {#      {% for p in queryset %}#}
  {##}
  {#        {{ p }}#}
  {##}
  {#        <br>#}
  {##}
  {#      {% endfor %}#}
  {##}
  {#    </div>#}
  {#  </div>#}

  {#  ///////////////////////////////// fim debug qeryset///////////////////////////////////////////////#}

  {#  <table width="100%">#}
  {#    <tr>#}
  {#      <td align="center"><img src="../interface/static/interface/img/estoque_geral.jpg"></td>#}
  {#    </tr>#}
  {#  </table>#}


  {#  ///////////////////////////////////// teste modal ////////////////////////////////////////////#}



  {#  /////////////////////////////////// fim teste modal //////////////////////////////////////////#}
{% endblock %}

{% block javascript %}

  <script type="text/javascript" charset="utf-8">



  </script>

{% endblock %}