{% extends "interface/geral/base.html" %}

{% block titulo %}
  Listagem de Produtos
{% endblock %}

{% block corpo %}

  {% include "interface/geral/navigatorTop.html" %}

  <h1 class="titulo1">Produtos Cadastrados</h1>

  <div class="container">
    <div class="table-responsive sombra">


      <table class="table listagem bordered">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Categoria</th>
          <th class="text-center">Qtde</th>
          <th class="text-center">Preço</th>
          <th class="text-center">Dt.Fabricação</th>
          <th class="text-center">Dt.Validade</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for produto in lista_produto %}

          <tr>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.descricao }}</td>
            <td>{{ produto.categoria.descricao }}</td>
            <td class="text-center">{{ produto.quantidade }}</td>
            <td class="text-center">{{ produto.preco }}</td>

            <td class="text-center">
              {{ produto.data_fabricacao.day }}/
              {{ produto.data_fabricacao.month }}/
              {{ produto.data_fabricacao.year }}
            </td>

            <td class="text-center">{{ produto.data_validade }}</td>
            <td class="text-center">
              <button onclick="window.location.href='/atualiza_produto/{{ produto.id }}'">Atualizar</button>
              <button onclick="window.location.href='/deleta_produto/{{ produto.id }}'">Deletar</button>
            </td>
          </tr>

        {% empty %}

          <tr>
            <td colspan="8">-- Sem dados para visualizar --</td>
          </tr>

        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}