{% extends "interface/geral/base.html" %}

{% block titulo %}
  Listagem de Produtos
{% endblock %}

{% block corpo %}

  {% include "interface/geral/navigatorTop.html" %}

  <h1 class="titulo1">Produtos Cadastrados</h1>

  <div class="container">
    <div class="table-responsive sombra">
      <table class="table listagem bordered table-hover">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Categoria</th>
          <th class="text-center">Qtde</th>
          <th class="text-center">Preço Uni.</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for produto in lista_produto %}

          <tr>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.descricao }}</td>
            <td>{{ produto.categoria.nome }}</td>
            <td class="text-center">{{ produto.quantidade }}</td>
            <td class="text-center">{{ produto.preco_unitario|floatformat:2 }}</td>
            <td class="text-center">

              <button class="btn btn-primary btn-sm" type="button"
                      onclick="window.location.href='/atualiza_produto/{{ produto.id }}'">
                Atualizar
              </button>

              <button class="btn btn-danger btn-sm" type="button"
                      onclick="(function() {
                              if(confirm('Deseja realmente remover o produto {{ produto.nome }}?')){
                              window.location.href='/deleta_produto/{{ produto.id|safe }}/';
                              }
                              })()">
                Deletar
              </button>

            </td>
          </tr>

        {% empty %}

          <tr>
            <td colspan="8">-- Sem dados para visualizar --</td>
          </tr>

        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}