<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'principal/css/geral.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'principal/css/fundo.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'principal/css/toolbar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'principal/css/formulario.css' %}" />

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Categoria</title>
</head>
<body>

    <table class="navigationBar">
        <tr>
            <td width="60px" onClick="window.location.href='{% url 'home' %}'">Home</td>
            <td width="80px" onClick="window.location.href='{% url 'lista_produto' %}'">Listagem</td>
            <td width="50px" onClick="window.location.href='{% url 'novo_produto' %}'">Novo</td>
            <td width="80px" onClick="window.location.href='{% url 'nova_categoria' %}'" class="selecionado">Categoria</td>
            <td></td>
        </tr>
    </table>

    <h1 class="titulo1">Cadastro de Categoria</h1>

    <form method="POST">
        {% csrf_token %}

        <table class="cadastro">
            <tr>
                <td>Nome:</td>
                <td>{{form.nome}}</td>
            </tr>
            <tr>
                <td>Descrição:</td>
                <td>{{form.descricao}}</td>
            </tr>
            <tr>
                <td colspan="2" align="center"><button type="submit">Gravar</button></td>
            </tr>
        </table>

    </form>

</body>
</html>