{% extends "interface/geral/principal.html" %}

{% block titulo %}
  Cadastro de Fornecedor
{% endblock %}

{% block corpo %}

  <h1 class="titulo1">Cadastro de Fornecedor</h1>

  <div class="d-flex justify-content-center">
    <div class="col-md-5">
      <div class="jumbotron">

        <form method="post">
          {% csrf_token %}

          {% for f in form %}

            <div class="form-group">
              <label>{{ f.label }}</label>
              <div class="controls">
                {{ f }}
              </div>
            </div>

            {% if f.errors %}

              <div class="alert alert-warning">
                {{ f.errors }}
              </div>

            {% endif %}

          {% endfor %}

          <button type="submit" class="btn btn-primary">Gravar</button>
          <a href="/lista_fornecedor/" class="btn btn-default">Cancelar</a>

        </form>
      </div>
    </div>
  </div>

{% endblock %}