.titulo1 {
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
}

.jumbotron {
    padding: 2rem 2rem;
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.relevo {
    text-align: center;
    color: #353a40;
    text-shadow: -1px -1px 1px #aaa, 1px 1px 1px #000;
}

.embutido {
    text-align: center;
    color: #1f2123;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #aaa;
}




