<nav class="navbar navbar-expand-sm navbar-light bg-faded">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
            aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="/home/">Home</a>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="nav-content">

      <ul class="nav navbar-nav mr-auto">

        {#  //////////////////////////////////////////// LISTAGEM ///////////////////////////////////////////////////      #}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button"
             aria-haspopup="true" aria-expanded="false">
            Listagem
          </a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" href="/lista_categoria/">Categoria</a>
            <a class="dropdown-item" href="/lista_produto/">Produtos</a>
            <a class="dropdown-item" href="/lista_fornecedor/">Fornecedores</a>
            <a class="dropdown-item" href="/lista_lote/">Lotes</a>
            <a class="dropdown-item" href="/lista_movimento/">Movimentações</a>
          </div>
        </li>

        {#  /////////////////////////////////////////// CADASTROS //////////////////////////////////////////////////      #}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button"
             aria-haspopup="true" aria-expanded="false">
            Cadastros
          </a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" href="/nova_categoria/">Categoria</a>
            <a class="dropdown-item" href="/novo_produto/">Produto</a>
            <a class="dropdown-item" href="/novo_fornecedor/">Fornecedor</a>
          </div>
        </li>

        {#  ///////////////////////////////////////// ENTRADA/SAIDA /////////////////////////////////////////////////////       #}

        <li class="nav-item">
          <a class="nav-link" href="/entrada_produto/">Entrada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/saida_produto/">Saída</a>
        </li>
      </ul>

      {#      ///////////////////////////////////////////// USERNAME/SAIR /////////////////////////////////////////////////    #}

      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/atualiza_login/{{ request.user.id }}">
            <i class="fa fa-user-circle" aria-hidden="true"></i> {{ request.user.username }}
          </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/logout/"><i class="fa fa-sign-out" aria-hidden="true"></i>
          Sair</a></li>
      </ul>
    </div>

  </div>
</nav>


